@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
	@apply font-light tracking-wide;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	/* html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	} */
}

.primary-button {
	@apply py-2 px-4 text-white bg-neutral-900 border-none hover:bg-neutral-800 active:bg-neutral-900;
}

.secondary-button {
	@apply py-2 px-4  border border-gray-400 hover:border-neutral-200 hover:bg-gray-200 active:bg-gray-300;
}

.accent-button {
	@apply bg-emerald-300 py-2 px-4 outline-none hover:bg-emerald-400 active:bg-emerald-500;
}

input,
select,
textarea {
	@apply border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link {
	@apply flex py-3 px-4 hover:bg-neutral-800 border-b border-neutral-700 md:border-none;
}

.hover-link {
	@apply hover:border-b inline-block border-neutral-900;
}

.alert-error {
	@apply my-3 bg-red-100 p-3 text-red-700;
}

.alert-success {
	@apply my-3 bg-green-100 p-3 text-green-700;
}
